@media screen and(max-width:800px) {


    @media all and(max-width:800px){
      header .mainheader{

         position: fixed;
    margin : 0;
    padding: 0;
    background-color:var(--headerbackgroundcolor) ;
    color: rgb(110, 23, 23);
    z-index: 10000;
    height: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: 15% 70% 15% ;
    align-items: center;
    justify-content: center;
    } }
    
}

@media all and(min-width:700px){
      body{

        color: reds;
    } }
    