:root{
    --selection:rgb(92, 8, 116);
    --headerbackgroundcolor:rgb(0, 0, 0);
    --navbarlistcolors:#679fef;
}

*,
*::after *::before{
    font-family: 'Satoshi', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

*::selection{
    background-color:var(--selection) ;
    color:wheat ;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:6rem ;
    scroll-behavior: smooth;
}
   /*-----------------before--------------------- basic style---------------*/
body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
   header .mainheader{
    position: fixed;
    margin: 0;
    padding: 0;
    background-color:var(--headerbackgroundcolor) ;
    color: whitesmoke;
    z-index: 10000;
    height: 15%;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 45% 30% 15%;
    align-items: center;
    justify-content: center;
   
   }
.logo {
    display: flex;
    align-items: center;
    justify-content:center;
   font-size: 100px;
    text-decoration: none;
    overflow: hidden;
    width: 98%;
  

}
.navbar{
   color:var(--navbarlistcolor);
   font-size: 20px;
   margin: 5px;
   padding: 5px;
   display: flex;
   align-items: center;
   justify-content: center;
   width: 98%;

}
  .navbar a{
    color: var(--navbarlistcolor);
    text-decoration: none;
    font-size: 20px;
    padding: 5px;
    text-transform: capitalize;
    display: flex;
   align-items: center;
   justify-content: center;
   margin: 5px;
   transition: 0.5s;
   width: 98%;
}
.navbar a:hover{
    border-bottom: 3px solid cornflowerblue;
    border-radius: 5px;
  

   
}
   


.icon{
    
    display: flex;
    align-items: center;
    justify-content: center;
   
    

}
.icon i{
    margin: 5px;
    padding: 5px;
    font-size: 20px;
   color: #679fef;
   cursor: pointer;
  
}
.icon i:hover{
    color: rgb(81, 4, 4);
}
.search{
   
    display: flex;
    align-items: center;
    justify-content: right;
    margin-right: 3%;
    color: var(--navbarlistcolors);
    top: 100%;
clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
   
}
.search #searchbar{
    
    font-size: 17px;
    border:2px solid var(--navbarlistcolors);
    border-radius: 5px;
    background-color: var(--headerbackgroundcolor);
    color: aliceblue;
    width: 98%;
    
   
}
#searchicon{
    font-size: 20px;
    margin:5px;
    color: var(--navbarlistcolors);
    cursor: pointer;
}


