@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --divsection:rgb(89, 4, 113);
    --textcolors:rgb(0, 0, 0);
    --backgroundcolors:#063c89;
     --backgroundcolorsHeader:#000000;

   
    --conteinarsize-width-lg:80%;
    --conteinarsize-width-tb:90%;
    --conteinarsize-width-ph:95%;
   
}

*
{
     font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    scroll-behavior: smooth;
}
::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background-color: #1b2027;
}
::-webkit-scrollbar-thumb{
    background-color: aliceblue;
   
}
::-webkit-scrollbar-thumb{
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover{
    background-color: brown;
    border-radius: 10px;
    
}


*::selection{
    background-color:var(--selection) ;
    color:wheat ;
}

html{
    
    overflow-x: hidden;  
}
 /*--------------------before--------------------- basic style---------------*/

   body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--backgroundcolors);
   }

   header{
    height: 100px;
    width: 100%;
    background-color:var(--backgroundcolorsHeader) ;
   }

