:root{
    --selection:rgb(92, 8, 116);
    --headerbackgroundcolor:rgb(0, 0, 0);
    --navbarlistcolors:#679fef;
}

*,
*::after *::before{
    font-family: 'Satoshi', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
}

*::selection{
    background-color:var(--selection) ;
    color:wheat ;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top:6rem ;
    scroll-behavior: smooth;
}

   /*-----------------before--------------------- basic style---------------*/

   


